<header class="sticky-top main-container">
    <nav class="nav-items navbar p-1" style="background-color: var(--color-a);">
        <div class="container">
            <a href="{{@srcBase}}" class="navbar-brand">
                <img src="{{@srcBase}}assets/img/logistik.webp" height="30" alt="" class="d-inline-block align-top">
            </a>
            <a href="{{@INSTAGRAM.url}}" class="text-white pt-1" style="font-size: 1.7rem;"><i class="fa fa-instagram"></i></a>
        </div>
    </nav>
</header>