<section class="bs-component">
    <!-- Modal Untuk Lampiran-->
    <div id="modal-chknosurat" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark text-light">
                <div class="modal-body ">
                    <p><i class="fa fa-warning mr-2"></i> <span id="notify-title-surat"></span></p>
                    <div class="w-100  text-center pt-2">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <span id="notify-text-surat" class="text-warning"></span>
                            </div>
                            <div id="notify-button-surat" class="col-12 d-flex justify-content-center pt-2">
                                <a href="#" class="btn btn-sm btn-danger m-1"><i class="fa fa-times"></i> abaikan</a>
                                <a href="#" class="btn btn-sm btn-primary m-1"><i class="fa fa-check"></i> gunakan</a>
                                <a href="#" target="_blank" class="btn btn-sm btn-info m-1"><i class="fa fa-eye"></i> lihat data</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>