<section class="bs-component">
    <!-- Modal Untuk Lampiran-->
    <div id="modal-lampiran" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark text-light">
                <div class="modal-body ">
                    <span type="button" class="close text-light" data-dismiss="modal" aria-label="Close" >
                        <i class="fa fa-times"></i> 
                    </span>
                    <p><i class="fa fa-eye mr-2"></i> <span id="sample_nama">Lampiran</span></p>
                    <div class="w-100  text-center pt-2">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <img id="sample_lampiran" src="assets/img/mapolresta.jpg" alt="lampiran">
                            </div>
                            <div id="sample_lampiran_file" class="col-12 d-flex justify-content-center pt-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>