<IfModule mod_rewrite.c>
    Options +FollowSymLinks -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]  
    <FilesMatch "\.(ini|cfg|log|sql|conf)$">
        Order allow,deny
        Deny from all
    </FilesMatch>
</IfModule>