<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">  
                        <div class="row">
                            <div class="col-md-7">
                                <ul id="mylist1" class="sortable mb-5">
                                    <li><i class="fa fa-arrows handle"></i><i class="fa fa-times sign-close"></i><input type="text" value="Item 1"></li>
                                    <li><i class="fa fa-arrows handle"></i><i class="fa fa-times sign-close"></i><input type="text" value="Item 2"></li>
                                    <li><i class="fa fa-arrows handle"></i><i class="fa fa-times sign-close"></i><input type="text" value="Item 3"></li>
                                    <li><i class="fa fa-arrows handle"></i><i class="fa fa-times sign-close"></i><input type="text" value="Item 4"></li>
                                    <li><i class="fa fa-arrows handle"></i><i class="fa fa-times sign-close"></i><input type="text" value="Item 5"></li>
                                </ul>
                            </div>
                            <div class="col-md-5">
                                <h4 class="small pl-5 mt-3">Output JSON</h4>
                                <pre class="code-style pl-5">
                                    <code id="viewCode1"></code>
                                </pre>
                            </div>
                            <div class="col-md-7">
                                <ul id="mylist2" class="sortable sortable-primary">
                                    <li><i class="fa fa-arrows handle"></i><i class="fa fa-times sign-close"></i><input type="text" value="Item 1"></li>
                                    <li><i class="fa fa-arrows handle"></i><i class="fa fa-times sign-close"></i><input type="text" value="Item 2"></li>
                                    <li><i class="fa fa-arrows handle"></i><i class="fa fa-times sign-close"></i><input type="text" value="Item 3"></li>
                                    <li><i class="fa fa-arrows handle"></i><i class="fa fa-times sign-close"></i><input type="text" value="Item 4"></li>
                                    <li><i class="fa fa-arrows handle"></i><i class="fa fa-times sign-close"></i><input type="text" value="Item 5"></li>
                                </ul>
                            </div>
                            <div class="col-md-5">
                                <h4 class="small pl-5 mt-3">Output JSON</h4>
                                <pre class="code-style pl-5">
                                    <code id="viewCode2"></code>
                                </pre>
                            </div>
                        </div>                      
                    </div>                
                </div>
            </div>
        </div>
    </div>
</section>