<section class="content">
    <div class="hero hero-polres mb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="home-left pt-5">
                        <h1>Mohon Doa Restu</h1>
                        <h6>{{@APP.description}}</h6>
                        <div class="tile mt-4" style="opacity: .8">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="font-weight-bold"><i class="fa fa-home mr-2" style="margin-left: -.2rem;"></i>Masjid Shiratul Jannah Polresta Pontianak</span>
<pre style="margin-top:-.7rem;line-height: .853rem ;">
│
├── <b>Alamat</b> : JL. Gusti Johan Idrus No.1
│  ├── <b>Kec.</b> : Pontianak Selatan
│  └── <b>Kota</b> : Pontianak
│
├── <b>Luas</b> - <i>(tanah & bangunan)</i>
│  ├── <b>Tanah</b> : 1.103 m<sup>2</sup>
│  └── <b>Bangunan</b> : 620 m<sup>2</sup>
│
└── <b>Daya Tampung</b> : 350 jamaah
</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="home-right d-flex justify-content-center">
                        <img src="./assets/img/banner-adhe.webp" class="w-75" alt="home"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2 mb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="home-left d-flex justify-content-center pt-4">
                        <div class="text-lg-right w-75 p-2">
                            <h3>Arsitektur</h3>
                            <p>Model bangunan mengusung seni modern dan perpaduan nuansa islami dengan kubah kecil</p>
                            <p>Bangunan terdiri dari 2 lantai dengan luas 620 m<sup>2</sup>. Lantai pertama merupakan aula yang dapat di gunakan berbagai kegiatan dan lantai ke dua adalah gedung utama tempat ibadah sholat</p>
                        </div>                            
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="home-right d-flex justify-content-center m-2">
                        <img src="./assets/img/renmasjid-2.webp" class="border border-primary rounded w-75" alt="home"/>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="home-right d-flex justify-content-center m-2">
                        <img src="./assets/img/renmasjid-3.webp" class="border border-primary rounded w-75" alt="home"/>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="home-left d-flex justify-content-center pt-4">
                        <div class="w-75 float-left p-2">
                            <h3>Konstruksi & Interior</h3>
                            <p>Dibangun dengan material yang didominasi beton, tiang pancang 4 buah utk lt. ruang aula dan tiang dengan corak ornamen islami 4 buah utk lt. ruang ibadah</p>
                            <p>Mimbar akan di hiasi dengan ornamen kayu bermotif ulir, petak & kubah ditambah dengan kaligraf bertuliskan lafaz Allah dan Muhammad</p>
                            <p>Lantai mangunakan marmer atau keramik polos berwarna putih susu</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>