<section class="content">
    <div class="hero hero-polres mb-4">
        <div class="container">
            <div class="row">
                <div id="banner-1" class="col-md-6">
                    <div class="home-left pt-5">
                        <h1 style="color:rgb(204, 69, 2)" class="font-weight-normal">Mohon Doa & Dukungan</h1>
                        <h6 style="color:rgb(17, 61, 17)" class="font-weight-normal">{{@APP.description}}</h6>
                        <div class="tile mt-4" style="opacity: .8">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="font-weight-bold"><i class="fa fa-home mr-2" style="margin-left: -.2rem;"></i>INFROMASI SEDEKAH</span>
<pre style="margin-top:-.7rem;line-height: .853rem ;">
│
├── <b class="h5">BANK BRI</b>
│  ├── <b class="h6">NO. REKENING : 0071 0100 3199 566</b>
│  └── <b class="h6">ATAS NAMA    : MASJID SHIRATUL JANNAH</b>
│                       <b class="h6">POLRESTA PONTIANAK POLDA KALBAR</b>
│
└── <b class="h6">KONFIRMASI SEDEKAH</b>
   ├── <b><u>KOMPOL MUSLIMIN, S.H.</u></b>
   │   (Kabag Log Polresta Pontianak)
   └── <b><u>IPTU TRI ADI CAHYANO, S.Kom.</u></b>
       (Kasi Keu Polresta Pontianak)
</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-12 col-lg-6">
                    <div class="home-right d-flex justify-content-center">
                        <img src="./assets/img/banner-adhe.webp" style="width: 85%" alt="home"/>
                    </div>
                </div>
                <div id="banner-2" class="col-md-12">
                    <div style="margin-top:-1.5rem" class="home-left">
                        <div style="opacity: .85" class="tile mt-4">
                            <div class="w-100 text-center mb-3">
                                <h1 style="color:rgb(204, 69, 2)" class="font-weight-normal">Mohon Doa & Dukungan</h1>
                                <h6 style="color:rgb(17, 61, 17)" class="font-weight-normal">{{@APP.description}}</h6>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="font-weight-bold"><i class="fa fa-home mr-2" style="margin-left: -.2rem;"></i>INFORMASI SEDEKAH</span>
<pre style="margin-top:-.7rem;line-height: .853rem ;">
│
├── <b class="h5">BANK BRI</b>
│  ├── <b class="h6">NO. REKENING : 0071 0100 3199 566</b>
│  └── <b class="h6">ATAS NAMA    : MASJID SHIRATUL JANNAH</b>
│                       <b class="h6">POLRESTA PONTIANAK POLDA KALBAR</b>
│
└── <b class="h6">KONFIRMASI SEDEKAH</b>
    ├── <b><u>KOMPOL MUSLIMIN, S.H.</u></b>
    │   (Kabag Log Polresta Pontianak)
    └── <b><u>IPTU TRI ADI CAHYANO, S.Kom.</u></b>
        (Kasi Keu Polresta Pontianak)
</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2 mb-2">
        <div class="container">
            <div class="bs-component">
                <hr style="position: absolute; margin-top:5rem">
                <ul class="nav nav-tabs">
                  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#proposal"><i class="fa fa-file-text-o mr-1 h6"></i><span class="h6">PROPOSAL</span></a></li>
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#anggaran"><i class="fa fa-money mr-1 h6"></i><span class="h6">ANGGARAN</span></a></li>                  
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#interior"><i class="fa fa-picture-o mr-1 h6"></i><span class="h6">INTERIOR</span></a></li>                  
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#download"><i class="fa fa-id-card-o mr-1 h6"></i><span class="h6">INFO SEDEKAH</span></a></li>                  
                </ul>
                <div class="tab-content tab-content-bordered">
                  <div id="proposal" class="tab-pane fade active show">
                    <loop from="{{ @i=0 }}" to="{{ @i < count(range(0,4)) }}" step="{{ @i++ }}">
                        <img src="./assets/img/img-{{@i}}.webp" class="w-100" alt="home"/>
                    </loop>
                    <div class="w-100 d-flex justify-content-center">
                        <button onclick="openPaneTab('#anggaran')" class="btn btn-sm btn-outline-secondary m-1">Anggaran<i class="fa fa-arrow-right ml-2"></i></button>
                    </div>
                  </div>
                  <div id="anggaran" class="tab-pane fade">
                    <loop from="{{ @i=0 }}" to="{{ @i < count(range(6,12)) }}" step="{{ @i++ }}">
                        <img src="./assets/img/img-{{@i+6}}.webp" class="w-100" alt="home"/>
                    </loop>
                    <div class="w-100 d-flex justify-content-center">
                        <button onclick="openPaneTab('#proposal')" class="btn btn-sm btn-outline-secondary m-1"><i class="fa fa-arrow-left mr-2"></i>Proposal</button>
                        <button onclick="openPaneTab('#interior')" class="btn btn-sm btn-outline-secondary m-1">Interior<i class="fa fa-arrow-right ml-2"></i></button>
                    </div>
                  </div>
                  <div id="interior" class="tab-pane fade">
                    <loop from="{{ @i=0 }}" to="{{ @i < count(range(15,28)) }}" step="{{ @i++ }}">
                        <img src="./assets/img/img-{{@i+15}}.webp" class="w-100" alt="home"/>
                    </loop>
                    <div class="w-100 d-flex justify-content-center">
                        <button onclick="openPaneTab('#anggaran')" class="btn btn-sm btn-outline-secondary m-1"><i class="fa fa-arrow-left mr-2"></i>Anggaran</button>
                        <button onclick="openPaneTab('#download')" class="btn btn-sm btn-outline-secondary m-1">Info Sedekah<i class="fa fa-arrow-right ml-2"></i></button>
                    </div>
                  </div>
                  <div id="download" class="tab-pane fade">
                    <img src="./assets/img/img-13.webp" class="w-100 mb-5" alt="home"/>
                    <div class="w-100 d-flex justify-content-center">
                        <button onclick="openPaneTab('#interior')" class="btn btn-sm btn-outline-secondary m-1"><i class="fa fa-arrow-left mr-2"></i>Interior</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>    
</section>