<!DOCTYPE html>
<html lang="en">
  <include href="{{ 'app/templates/components/metadata.htm' }}">
  <body class="app sidebar-mini" data-user="{{@SESSION.id_user}}" data-level="{{@SESSION.level}}">
    <!-- include Navbar-->
    <include href="{{ 'app/templates/components/home-navbar.htm' }}">  
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <!-- include Sidebar menu-->
    <include href="{{ 'app/templates/components/home-sidebar.htm' }}">   
    <!-- home pages-->    
    <include href="{{ 'app/templates/contents/'.@PATTERN.'.htm' }}">
    <!-- Essential javascripts for application to work-->      
    <script src="{{@index_js}}"></script>
  </body>
</html>